<% include header %>
<h2>Upload New Dataset</h2>
<% for (var i=0; i<messages.length; i++){ %>
	<div class="alert alert-error">
		<%= messages[i] %>
	</div>
<% } %>
<form action="/upload" method="post" enctype="multipart/form-data">
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail" name="name" placeholder="Enter title" value="<% if (form.name) { %><%= form.name %><% } %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Description</label>
            <textarea class="form-control" id="exampleInputPassword" name="description" placeholder="Enter description"><% if (form.description) { %><%= form.description %><% } %></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Category</label>
            <select class="form-control" name="categoryId">
                <% for (var i=0; i<categories.length; i++) { %>
                    <option <% if (form.categoryId == categories[i].id) { %>selected<% } %> value="<%= categories[i].id %>"><%= categories[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Class</label>
            <select class="form-control" name="typeId">
                <% for (var i=0; i<types.length; i++) { %>
                    <option <% if (form.typeId == types[i].id) { %>selected<% } %> value="<%= types[i].id %>"><%= types[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="file">Dataset</label>
            <input type="file" id="file" name="file">
            <p class="help-block">File types allowed: XLS, XLSX, CSV, TXT</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </fieldset>
</form>
<% include footer %>
