<% include header %>
<h2>Dataset Directory</h2>

<div class="row">
    <div class="col-lg-4 col-sm-4">
        <p>Browse by category:</p>
        <div class="list-group">
            <% categories.forEach(function(cat) { %>
                <a href="?cat=<%= cat.id %>" class="list-group-item"><%= cat.name %></a>
            <% }) %>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4">
        <p>Browse by data class:</p>
        <div class="list-group">
            <% types.forEach(function(t) { %>
                <a href="?type=<%= t.id %>" class="list-group-item"><%= t.name %></a>
            <% }) %>
        </div>
    </div>
    <!--<div class="col-lg-4 col-sm-4">
        <p>Browse by available formats:</p>
        <div class="list-group">
            <a href="#" class="list-group-item">Plaintext</a>
            <a href="#" class="list-group-item">Excel</a>
            <a href="#" class="list-group-item">CSV</a>
            <a href="#" class="list-group-item">JSON</a>
        </div>
    </div>-->
</div>
<%- include datasets %>
<%- include footer %>
