<% include header %>
<div class="panel panel-default">
    <header class="panel-heading">
        <h1><%= form.name %></h1>
        <dl class="dl-horizontal">
            <dt>Uploaded by: </dt>
            <dd><%= form.user.name %></dd>

            <dt>Last update: </dt>
            <dd><%= form.formatedUpdatedAt %></dd>

            <dt>Category: </dt>
            <dd>In <%= form.dataCategory.name %></dd>
        </dl>
    </header>
    <ul class="list-group">
        <li class="list-group-item">
            <%- form.description %>
        </li>
        <li class="list-group-item">
            <p> Download: </p>
            <% form.dataFiles.forEach(function(file){ %>
                <a href="repo/<%= file.filepath %>" class="btn btn-sm btn-primary" style="text-transform:uppercase;"><%= file.extension %></a>
            <% }) %>
        </li>
    </ul>
    <% if (form.user.nusId === (user && user.nusId)) { %>
        <div class="panel-footer">
            <a href="<%= "/data/" + form.id + "?edit" %>" type="button" class="btn btn-default btn-sm btn-primary">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
        </div>
    <% } %>
</div>
<% include footer %>
